section {
    height: 100vh;
}

* {
    scroll-behavior: smooth;
    transition: scroll-behavior 3s ease-in-out;
}

body{
    overflow-x:hidden;
}

#home {
    background-color: #f1faee;
    color: #001f3f;
}

#image {
    background-color: #457b9d;
    color: #d3d0d0;
    font-size: large;
}

#video {
    background-color: #f1faee;
    color: #237cb3;
}

#audio {
    background-color: #457b9d;
    color: #d3d0d0;
    font-size: large;
}

ul {
    padding:40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-variant: small-caps;
    font-weight: bold;
    justify-content: space-between;
    display: flex;
    flex-wrap:wrap;
    margin: auto;
}

footer {
    height: 20vh; /* Adjust as needed */
    width: 100%;
    background-color: black;
}

a {
    color: #237cb3;
    text-decoration: none;
}

ul {
    background-color: #f1faee;
    margin-top: -1vh; /* Adjust as needed */
}
h1{
    width: 60%;
    line-height:50px;
    margin-inline:auto;
    font-size:32px;
}
#robo{
    float:right;
    margin-right:20px;
    border-radius: 150px;
}
span{
    font-size:34px;
    color:darkgreen;
}
li{
    display:inline-block;
    transition: transform 0.3s ease-in-out;
}
li:hover{
    transform: scale(1.2);
}
.zoom-on-hover {
    display: inline-block;
    font-size: 40px;
    transition: transform 0.3s ease-in-out;
}

.zoom-on-hover{
    color: #556B2F;
}
.zoom-on-hover:hover{
    transform: scale3d(1.2,1.2,1.2);
}
#image-div,#audio-div,#video-div{
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    top:30%;
    background-image: url("{{ url_for('static', filename='images/back.png') }}");
    background-size: contain;
} 
h2{
    font-size: 2.5rem;
    font-variant:small-caps ;
    display: flex;
    justify-content: center;
    position:relative;
    top:10%;
}

footer{
    background:#f8f9fa;
    text-align:center;
    padding:1% ;
    width: 98%;
}
button{
    box-shadow: 0 0 5px cyan;
    background-color: cyan;
    border-color: cyan;
}
button:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan,0 0 50px cyan,
    0 0 100px cyan,0 0 200px cyan;
}
