<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deep Fake Detection</title>
</head>
<body>
    <h1>Deep Fake Detection</h1>
    <form action="/detect" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*" required>
        <button type="submit">Detect</button>
    </form>
    {% if prediction %}
        <p>{{ prediction }}</p>
    {% endif %}
</body>
</html>
