<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>𝐃𝐞𝐞𝐩 𝐟𝐚𝐤𝐞 𝐝𝐞𝐭𝐞𝐜𝐭𝐨𝐫</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/titlelogo.jpeg') }}" type="image/x-icon">
</head>
<body>
    <section id="home" class="home-page">
        <ul>
            <br>
            <li><a href="#home">Home</a></li>
            <li><a href="#image">Image Detector</a></li>
            <li><a href="#video">Video Detector</a></li>
            <li><a href="#audio">Audio Detector</a></li>
            <li><a href="#contact">Contact Queries</a></li>
        </ul>
        <br>
        <h1><span class="zoom-on-hover">Welcome to our Deep Fake Detector</span>,<br> your trusted ally in safeguarding against deceptive digital content. Uncover the truth and stay one step ahead with our state-of-the-art detection technology!</h1>
        <div id="main_content">
            <img src="{{ url_for('static', filename='images/web-image.jpg') }}" alt="image of an AI robot"/>
        </div>
    </section>

    <section id="image" class="image-detector">
    <h2>Deep Fake Image Detector!!</h2>
    <div id="image-div">
        <form id="imageForm" action="/detect_image" method="post" enctype="multipart/form-data">
            <input type="file" accept="image/*" name="file" required><br><br><br>
            <button type="submit">Detect Image</button>
        </form>
        <h3>Upload Here</h3>
    </div>
    </section>

    <section id="video" class="video-detector">
        <!-- Your existing content for video section -->
    </section>

    <section id="audio" class="audio-detector">
        <h2>Deep Fake Audio Detector!!</h2>
        <div id="audio-div">
        <form id="audioForm" action="/detect_audio" method="post" enctype="multipart/form-data">
            <input type="file" accept=".wav, .mp3" name="file" required><br><br><br>
            <button type="submit">Detect Audio</button>
        </form>
        <h3>Upload Here</h3>
    </div>
    </section>

    <footer id="contact">
        <p>If you have any questions, suggestions or  need to contact us regarding our services, please use
            the following information:<br>
            Email: bpraven05@gmail.com<br>
            Phone Number: +91 9345009766
            </p>
fd
    </footer>

    <script src="script.js"></script>
</body>
</html>
